/* TODO: make responsive design grid */
.grid::before {
  --grid-sides: 16px;
  --grid-gutter: 16px;
  --grid-columns: 4;
  --grid-color: rgb(255 0 0 / 0.1);
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  border: solid transparent;
  border-width: 0 calc(var(--grid-sides) - var(--grid-gutter) / 2);
  background: repeating-linear-gradient(
      to right,
      transparent 0,
      transparent calc(var(--grid-gutter) / 2),
      var(--grid-color) calc(var(--grid-gutter) / 2),
      var(--grid-color) 64px,
      transparent 64px,
      transparent 72px
  );
}
